@using OnlineTicariOtomasyonMvc.Models.Siniflar
@model List<Personel>

@{
    ViewBag.Title = "DepartmanDetay";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-xl-12">
        <div class="card mb-3">
            <div class="card-header"><i class="fas fa-arrows-alt"></i> @ViewBag.DepartmanIsmi Departmanı Detay Sayfası</div>
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Personel Görseli</th>
                            <th>Personel Adı</th>
                            <th>Personel Soyadı</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.PersonelID</td>
                                <td>@item.PersonelGorsel</td>
                                <td>@item.PersonelAd</td>
                                <td>@item.PersonelSoyad</td>
                                <td class="text-right">
                                    <div class="dropdown">
                                        <a class="btn btn-sm btn-icon-only text-dark" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fa fa-ellipsis-v"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                            <a class="dropdown-item" href="/Departman/DepartmanPersonelSatis/@item.PersonelID"><i class="fa fa-clipboard mx-0"></i> Satışlar</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>